#gradient {
    background: linear-gradient(
        rgb(0, 0, 37),
        darkblue,
        purple,
        orange,
        lightblue
    );
    background-size: 300px 2000px;
    -webkit-animation: Sunset 180s ease infinite;
    -moz-animation: Sunset 180s ease infinite;
    animation: Sunset 180s ease infinite;
}

.star {
    background-color: white;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 5%;
    animation: StarOne 180s ease infinite;
}
.eyeone {
    background-color: rgb(242, 255, 0);
    position: absolute;
    width: 2px;
    height: 2px;
    top: 296px;
    right: 46%;
    z-index: 2;
    animation: eyes 180s ease infinite;
}
.eyetwo {
    background-color: rgb(242, 255, 0);
    position: absolute;
    width: 2px;
    height: 2px;
    top: 296px;
    right: 46.2%;
    animation: eyes 180s ease infinite;
    z-index: 2;
}
/* .setColor {
    animation: SetColor 180s ease infinite;
} */

@-webkit-keyframes Sunset {
    0% {
        background-position: 0% 170%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 170%;
    }
}
@-moz-keyframes Sunset {
    0% {
        background-position: 0% 170%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 170%;
    }
}
@keyframes Sunset {
    0% {
        background-position: 0% 170%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 170%;
    }
}

@keyframes StarOne {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes Settle {
    0% {
        transform: translateY(100px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100px);
    }
}
@keyframes Set {
    0% {
        transform: translateY(110px);
    }
    50% {
        transform: translateY(500px);
    }
    100% {
        transform: translateY(110px);
    }
}
@keyframes SetColor {
    0% {
        fill: 'yellow';
    }
    50% {
        fill: red;
    }
    100% {
        fill: 'yellow';
    }
}
@keyframes eyes {
    0% {
        opacity: 0;
    }
    40.9% {
        opacity: 0;
    }
    41% {
        opacity: 1;
    }
    54.9% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes shootingStar {
    21% {
        opacity: 0;
        top: 5%;
        right: 60%;
        width: 0px;
        height: 0px;
    }
    22% {
        opacity: 1;
        top: 6%;
        right: 70%;
        width: 4px;
        height: 3px;
    }
    23% {
        opacity: 0;
        top: 7%;
        right: 80%;
        width: 0px;
        height: 0px;
    }
}
body {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 1000px;
    width: 100%;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.4rem;
    margin-top: 8rem;
    color: white;
    animation: Settle 180s ease infinite;
}
.sun {
    animation: Set 180s ease infinite;
}
.shooting-star {
    position: absolute;
    background-color: white;
    animation: shootingStar 180s linear infinite;
}
.trees {
    position: absolute;
    top: 207px;
    left: 49%;
}
.trees-two {
    position: absolute;
    top: 207px;
    right: 49%;
}
.mountains-one {
    position: absolute;
    top: 203px;
    right: 0%;
}
.mountains-two {
    position: absolute;
    top: 171px;
    left: -4%;
    transform: scale(-1, 1);
}
.environment {
    position: absolute;
    background-color: black;
    /* border-top: solid 1px rgb(77, 77, 77); */
    width: 100%;
    bottom: 0;
    top: 300px;
    /* height: 75%; */
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maze-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    margin: 0 auto;
    background-color: black;
}
.box-container {
    display: flex;
    flex-flow: row;
}

.box {
    height: 0.5rem;
    width: 0.5rem;
    background-color: black;
}

button {
    border-radius: 0px;
    border: solid 2px white;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: black;
    margin: 0 2rem;
}

.one {
    background-color: gray;
}
.nine {
    background-color: yellow;
}
.two {
    background-color: gray;
}
.seven {
    background-color: gray;
}

.path {
    background-color: greenyellow !important;
}
